<!DOCTYPE html>
<html lang="gr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: "Rubik", "sans-serif";
        }

        div {
            text-align: center;
            margin-top: 50px;
        }

        h1 {
            color: red;
            font-size: 40pt;
        }

        p {
            font-size: 24pt;
        }
    </style>
</head>

<body>
    <div>
        <h1>Welcome!</h1><br>
        <p id="theResult">Please draw a number in the canvas below and our pre-trained model will try to predict your number. </p>
        
        <div style="width: 100%;text-align:center;">
            <canvas id="canvas" width="250" height="250" class="canvas" style="border: 1px solid black;display:inline;"></canvas>
        </div>
        

        <canvas id="smallCanvas" width="23" height="23" class="canvas" style="border: 1px solid black;display:none;"></canvas>

        <button type="button" id="btn">Calculate</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.0/fabric.min.js"></script>
    
    <script>
            
            var canvas;

$(function () {
    canvas = window._canvas = new fabric.Canvas('canvas');
    canvas.backgroundColor = 'white';
    canvas.isDrawingMode= 1;
    canvas.freeDrawingBrush.color = "black";
    canvas.freeDrawingBrush.width = 10;
    canvas.renderAll();


    // function download(url,name){
    // // make the link. set the href and download. emulate dom click
    //     $('<a>').attr({href:url,download:name})[0].click();
    // }

    function calculate(canvas,name){
    //  convert the canvas to a data url and download it
        
        $.ajax({
          type: "POST",
          url:"test",
          enctype: "multipart/form-data",
          data: {"file": canvas.toDataURL()}
        }).then(function(response){
            $('#theResult').text(`You wrote number: ${response}, if it is wrong please write the correct value below, it will be added to the training dataset.`);
        });
    }

    $('#btn').click(function(){
        // downloadFabric(canvas,"image");
        // var canvi = document.createElement("newer");
        var resizedCanvas =window._canvas = new fabric.Canvas('smallCanvas');
        var resizedContext = resizedCanvas.getContext("2d");

        resizedCanvas.height = "23";
        resizedCanvas.width = "23";

        var canvas = document.getElementById("canvas");

        resizedContext.drawImage(canvas, 0, 0, 32 , 32);
        // var myResizedData = resizedCanvas.toDataURL();
        calculate(document.getElementById("smallCanvas"),"image");
    })

});
    </script>
</body>

</html>